.qsf-demo-canvas{
     position: relative;
     width:500px;
}
 
/** tab content */
 
.qsf-demo-canvas #ctl00_ContentPlaceHolder1_RadMultiPage1{
     width: 500px;
     background: url('images/TabStribBackground.png') 0 20px no-repeat;
}
.qsf-demo-canvas #ctl00_ContentPlaceHolder1_RadMultiPage1 > div:after {
     content: "";
     display: block;
     clear: both;
}
 
/** Image container */
.qsf-demo-canvas .image-container {
     position: absolute;
     top: 105px;
     left: 40px;
}
 
/** Order summary */
.qsf-demo-canvas .country-summary {
     width: 220px;
     float: right;
     margin-top: 55px;
     padding: 5px 25px;
     background: rgba(183,187,191,0.2);
     border-radius: 10px;
     font-size: 14px;
}
/** target IE7 */
@media screen\9 {
     .qsf-demo-canvas .country-summary {
          margin-top: 70px;
     }
}
 
     /** country title */
     .qsf-demo-canvas .country-summary dt {
          display: inline-block;
          width: 110px;
          margin: 0;
          padding: 0;
          float: left;
          clear: both;
          text-transform: uppercase;
          font-weight: bold;
          display: inline;
     }
 
     /** country describtion */
     .qsf-demo-canvas .country-summary dd{
      
     }
 
 
 
     .qsf-demo-canvas .country-summary dt.price {
          display: inline;
     }
 
     .qsf-demo-canvas .country-summary dd.price {
          margin: 0;
          font-size: 30px;
          display: inline;
     }